[submodule "packages/org"]
	path = packages/org
	url = git://orgmode.org/org-mode.git
	branch = master
[submodule "packages/foldingmode"]
	path = packages/foldingmode
	url = https://github.com/jaalto/project-emacs--folding-mode.git
	branch = master
[submodule "emacs-maildir"]
	path = emacs-maildir
	url = https://github.com/nicferrier/emacs-maildir.git
[submodule "packages/emacs-maildir"]
	path = packages/emacs-maildir
	url = https://github.com/nicferrier/emacs-maildir.git
[submodule "packages/kv"]
	path = packages/kv
	url = https://github.com/nicferrier/emacs-kv.git
[submodule "packages/noflet"]
	path = packages/noflet
	url = https://github.com/nicferrier/emacs-noflet.git
[submodule "packages/s"]
	path = packages/s
	url = https://github.com/magnars/s.el.git
[submodule "packages/dash"]
	path = packages/dash
	url = https://github.com/magnars/dash.el.git
[submodule "packages/groovy-mode"]
	path = packages/groovy-mode
	url = https://github.com/Groovy-Emacs-Modes/groovy-emacs-modes.git
[submodule "packages/gradle-mode"]
	path = packages/gradle-mode
	url = https://github.com/jacobono/emacs-gradle-mode.git
[submodule "packages/cider"]
	path = packages/cider
	url = https://github.com/clojure-emacs/cider.git
[submodule "packages/clojure-mode"]
	path = packages/clojure-mode
	url = https://github.com/clojure-emacs/clojure-mode.git
[submodule "packages/web-mode"]
	path = packages/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "packages/go-mode"]
	path = packages/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "packages/jdee"]
	path = packages/jdee
	url = https://github.com/jdee-emacs/jdee.git
[submodule "packages/jdee-server"]
	path = packages/jdee-server
	url = https://github.com/jdee-emacs/jdee-server.git
[submodule "packages/lua-mode"]
	path = packages/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "packages/markdown-mode"]
	path = packages/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "packages/php-mode"]
	path = packages/php-mode
	url = https://github.com/ejmr/php-mode.git
